{% extends 'index.html' %}
{% load static %}

{% block content %}
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->

    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">COMBO LIST </h6>
              </div>
            </div>
            <!-- <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">COMBO NAME</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">COST/month</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">EDIT</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="d-flex px-4 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">John Michael</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">Manager</p>
                      </td>
                      <td class="align-middle">
                        <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                          Edit
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div> -->
          </div>
        </div>
      </div>
   
    </div>
  </main>
  <body>
    <div class="container mt-4">
      <div class="row">
        <div class="col">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="text-center">S No.</th>
                <th scope="col">COMBO NAME</th>
                <th scope="col" class="text-center">COST/month</th>
                <th scope="col" class="text-center">VIEW</th>
              </tr>
            </thead>
            <tbody>
              {% for i in data %}
              <tr>
                <td class="text-center">
                  <p class="text-l font-weight-bold mb-2">{{ forloop.counter }} </p>
                </td>
                <td>
                  <div class="d-flex px-4 py-1">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-l">{{ i.packname }} </h6>
                    </div>
                  </div>
                </td>
                <td class="text-center">
                  <p class="text-l font-weight-bold mb-0">{{ i.price }} </p>
                </td>
                <td class="text-center">
                 <button class="btn btn-primary"> <a href="{% url 'add_channels' id=i.packname  %}" style="text-decoration:none;color: aliceblue;"  >View</a></button>
                </td>
              </tr>
            
              {% endfor %}
              <!-- Add more rows as needed -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
    <!-- Bootstrap JS (Optional, for some components) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
{% endblock %}
